@import "~antd/lib/style/themes/default.less";

@grid-background-color: #ffffff;

.grid {

  &-row {
    border: @border-width-base @border-style-base @border-color-split;
  }

  &-header,
  &-header-left {
    background: @table-header-bg;
    color: @heading-color;
    border-bottom: @border-width-base @border-style-base @border-color-split;
    outline: none;
    overflow: hidden !important;
  }

  &-left-column {
    //border-right: @border-width-base @border-style-base @border-color-split;
    background-color: @grid-background-color;
    overflow: hidden !important;
    outline: none;
  }

  &-body {
    background-color: @grid-background-color;
    outline: none;
  }

  &-left-cell {
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  &-header-cell,
  &-header-left-cell,
  &-left-cell,
  &-cell {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 8px;
    outline: none;
  }

  &-header-left-cell {
    justify-content: center;
    align-items: flex-start;
  }

  &-header-cell {
    flex-direction: row;
    align-items: center;
  }

  &-cell {
    align-items: flex-end;
  }

  &-left-cell {
    align-items: flex-start;
    flex-direction: row;
  }

  &-left-cell.hovered-row,
  &-cell.hovered-row {
    background-color: @table-row-hover-bg;
  }

  &-header-cell.hovered-column {
    background-color: @table-row-hover-bg;
  }

  &-header-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 8px;
    justify-content: flex-start;

    .exchange {
      font-size: 0.8rem;
    }

    .quoteAsset {
      font-weight: bold;
    }

  }
}
